<h1>About Thorin's Company</h1>
<hr>
<div class='#b0bec5 blue-grey lighten-3 black-text'>
<br>
<br>
<p>Are you ready to go on an adventure? This application is a great way to sign yourself up for Thorin's company to defeat Smaug and take back the Lonely Mountain!</p>
<br>
<br>

</div>
<hr>
<hr>
