<h1>The Company of Thorin Oakenshield</h1>
<div class='#b0bec5 blue-grey lighten-3 black-text'>
<h3> <span class='orange-text'>C</span>onditions of <span class='orange-text'>E</span>ngagement </h3>
</div>
<hr>
<div class='#b0bec5 blue-grey lighten-4 black-text'>
<p>
Agreed hereto, freely and under neither duress nor force nor coercion nor extortion nor threat to life and/or limb, and superceding any prior contract, agreement or undertaking, survivable clauses notwithstanding, signed and witnessed below, as set forth hereunder:
</p>
<p>
I, the undersigned, [referred to hereinafter as Burglar,] agree to travel to the Lonely Mountain, oath to be determined by Thorin Oakenshield, who has a right to alter the course of the journey at his so choosing, without prior notification and/or liability for accident or injury incurred.
</p>
<p>
The aforementioned journey and subsequent extraction from the Lonely Mountain of any and all good, valuables and chattels [which activities are described collectively herein as the Adventure] shall proceed in a timely manner and with all due-care and consideration as seen fir by said Thorin Oakenshield and companions, numbering thirteen more or less, to wit, the Company.
</p>
<p>
Burglar holds harmless and without blames in perpetuity the Company and its successors for any notoriety, incarceration, or proceedings brought against, in regard to or as a result of the adventure or any activities related thereto.
</p>
<p>
Cash on delivery, up to and not exceeding one fourteenth of the total profit [if any].
</p>

<p>

All travelling expenses guaranteed in any event.
</p>

<p>
Funeral expenses to be defrayed by us or our representatives if occasion arises and the matter is not otherwise arranged for.
</p>

<p>
Burglar shall devise means and methods to circumvent any difficulties arising from any illegal or illicit occupation or guardianship of Company’s righted home and property. Successful disposal of any such guardian, creature or squatter in said home shall not necessarily earn any additional monetary or fiscal reward, but will definitely guarantee Burglar [if he survives] and Burglar’s family the undying gratitude and promise of service in perpetuity and forever of the Company and its successors.
</p>


<p>
Eviction or elimination of any undesirable guardian of Company’s property, goods or premises or holdings shall take priority over the recovery of said property, goods, premises or holdings, should such a guardian be encountered. Elimination shall take priority over eviction in any and all cases.
</p>
<p>
Burglar hereby accepts, warrants, and undertakes responsibility for his own shoes [if worn by same], clothing and personal effects for the duration of the Adventure.
</p>

<p>
Meals provided [or not] at the sole discretion of the Director, with due regard for availability, season, or any special dietary requirements not disclosed at the outset.
</p>









<p>
………contained herein [the Conditions of Engagement] by signing or making their marks in the spaces provided for so doing, and affixing seals if applicable. The Witnesses to this contract, being those others whose signatures, marks or seals are affixed hereto, affirm, state and declare their understanding and unbiased agreement to all that is contained herein.
</p>
<p>
Confidentiality is of utmost importance and must be strictly maintained at all times. During the course of his employment with the Company, Burglar will hear, see, learn, apprehend, comprehend, and in short, gain knowledge of particular facts, ideas, plans, strategies, theories, geography, cartography, iconography, means, tactics and/or policies, whether actual, tangible, conceptual, historical or fanciful. Burglar undertakes and agrees to maintain this knowledge in utmost secrecy and confidentiality, and to neither divulge nor make known said knowledge by any means, including but not limited to speech, writing, demonstration, re-enactment, mime, or storage and retrieval within means or apparatus currently known or unknown or as yet unthought-of of.
</p>
<p>
Early termination of this contract shall attract an early termination fee to be determined by Thorin and Company at their sole and absolute discretion. All clauses contained herein shall survive such termination and remain enforceable in all countries whether existant now or in the future, throughout the known world.
</p>
<p>
Disputes arising between the contract parties shall be heard and judged by an arbitrator of the Company’s choosing, and all pleas shall be pleaded, shrewed, defended, answered, debated and judged in the Dwarvish Tongue.
In the event of a dispute arising in relation to the terms of this agreement, the non-prevailing party shall reimburse the prevailing party for all reasonable fees and costs resulting therefrom.
</p>
<p>

If any provision of this Contract is held unenforceable, then such provision shall be modified to reflect the parties’ intention. All remaining provisions of this Contract shall remain in full force and effect.
</p>
<p>
The failure by one party to require performance of any provision herein shall not affect that party’s right to require performance at any time thereafter, nor shall a waiver of any breach or default of this Contract constitute a waiver of any subsequent breach or default or waiver of the provision itself.
</p>
<p>
Wherefore each of the parties agree that any action in relation to an alleged breach of this Agreement shall be commenced within one year of the date of the breach, without regard to the date the breach is discovered. Any action not brought within that one [1] year time period shall be barred, without regard to any other limitations period set forth herein.
</p>
<p>
All conditions imposed herein are deemed to survive loss or destruction of this document, whether by accidental or willful mishap, fair means or foul, and any reconstruction, re-working, updating or improvements or additions made shall include a condition similar to this condition, nothwithstanding any repetition, redundancy, overstatement or implication hereby recognised or disclosed.
</p>
<p>
Any and all damages brought against the Company by third parties, whether during the course of the Adventure or subsequent to it, shall be bourne by the Company and the Burglar on a pro-rata basis, but the reverse situation does not apply.
</p>
<p>
No recompense for “loss of income” due to an extended absence shall apply. Burglar is deemed to be ‘at the service’ of Thorin and Company until released therefrom.
</p>


<p>
Specialist equipment required in the execution of duties in his professional role as Burglar shall be purchased, procured, purloined or obtained by Burglar, by whatsoever method Burglar sees fit.
</p>
<p>
Weaponry not provided. Although the Adventure is, by its nature a stealthy undertaking, combat or self-defense is not unforeseeable, and indeed may become necessary, well-advised, important, imperative or inescapable. 
</p>
<p>
Accordingly, Burglar should arm himself as best befits his stature, ability, ferocity, bravery, timidity, conviction and determination.
</p>
<p>
Return Journey is deemed outside the Terms of Reference encompassed herein and accordingly Burglar shall return to his place of residence by his own means, guidance, expertise and expense, but with such directions, advice and goodwill as can be offered by the Company.
</p>
<p>
Transport provided in the form of one [1] pony, to be returned in good condition at the conclusion of the Adventure [or monies paid in lieu thereof].
</p>
<p>
Adventure undertaken entirely at Burglar’s own risk. Present Company shall not be liable for injuries inflicted by or sustained as a consequence thereof; including, but not limited to,<span class='orange-text'> lacerations, evisceration, incineration.<span>
</p>

<p>
<span class='orange-text'>Signed:</span> Thorin son of Thrain
</p>
<p>
<span class='orange-text'>Witnessed:</span> Balin son of Fundin
</p>
<p>
<span class='orange-text'>Burglar:</span> [Your Name]
</p>
</div>
